---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "custom-minima";

hr {
  margin-top: 27px;
  margin-bottom: 27px;
  border: 0;
  border-top: 1px solid #c9c9c9;
}

.note {
  font-style: italic;
  color: #666;
}

div.footnotes {
  font-size: 0.8em;
  ol {
    padding: 0;
  }
  code {
    font-size: 0.8em;
  }
}

div#disqus_thread {
  padding: 50px 0;
}

.ar-attributes-table.compact-table {
  font-size: 11.5px;

  th {
    font-size: 13px;
  }
  th, td {
    padding: 8px 10px;
  }
  code {
    font-size: 11.5px;
    padding: 0;
    background: none;
    border: none;
  }
  em.na {
    color: #aaa;
  }
}

img.sumo-logic-heroku-graph {
  max-width: 550px;
  border: 1px solid whitesmoke;
}
